*{
    margin: 0;
    padding: 0;
}
.home{
    /* width: 100vw; */
    background-color: rgba(203, 251, 251, 0.662);
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}